# Railway Variables / local .env

API_FOOTBALL_KEY=incolla_qui_la_tua_api_football_key
API_FOOTBALL_BASE=https://v3.football.api-sports.io

SUPABASE_URL=incolla_qui_url_supabase
SUPABASE_SERVICE_ROLE_KEY=incolla_qui_service_role_key

PORT=3000
